@model Module.Sales.Domain.InvoicePrintDto

<style>
    .pos-invoice-print-preview {
        font-size: 12px;
        padding: 15px;
        font-family: SolaimanLipi !important;
        width: 80mm;
        position: relative;
    }
    .pos-invoice-print-preview .title {
        padding: 4px 10px;
        background-color: #f1f1f1;
        border-radius: 15px;
        text-transform: uppercase;
        border: 1px solid #c5c5c5;
        display: inline-block;
        line-height: 1;
        font-size: 14px;
    }
    .pos-invoice-print-preview .status {
        padding: 3px 10px;
        border-radius: 15px;
        line-height: 1;
        position: absolute;
        font-size: 65px;
        font-weight: bold;
        transform: translate(-50%, -50%) rotate( -20deg );
        left: 50%;
        color: #0000001a;
        top: 50%;
        border: 5px solid #0000001a;
    }
    .pos-invoice-print-preview .center {
        text-align: center;
    }
    .pos-invoice-print-preview thead th,
    .pos-invoice-print-preview .item-row td {
        border: 1px dashed;
        padding: 2px;
    }
    .pos-invoice-print-preview tr.summary {
        vertical-align: top;
    }
    .pos-invoice-print-preview tr.summary td:not(:first-child) {
        padding: 5px 0 5px 2px;
        border-bottom: 1px dashed;
    }
    .pos-invoice-print-preview tr.summary .text {
        text-align: left;
    }
    .pos-invoice-print-preview thead tr th:last-child,
    .pos-invoice-print-preview tbody tr td:last-child,
    .pos-invoice-print-preview tr.summary td:last-child {
        padding-top: 5px;
        text-align: right;
    }
</style>

<div class="pos-invoice-print-preview">
    @if (Model.Organization != null)
    {
        <div style="text-align: center; margin-bottom: 10px;">
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Address))
            {
                <h2 style="margin-bottom: 5px">@Model.Organization.Name</h2>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Address))
            {
                <div>@Model.Organization.Address</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Mobile))
            {
                <div>@Model.Organization.Mobile</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Email))
            {
                <div>@Model.Organization.Email</div>
            }
        </div>
    }
    <h4 class="center">
        <strong>
            <span class="title">চালান রসিদ</span>
        </strong>
    </h4>
    <span class="status">@Model.Status</span>
    <div>
        <div>চালান নং: @Model.Number</div>
        <div style="margin-top: 3px; ">তারিখ: @Model.IssueDate</div>
    </div>

    @if (Model.Customer != null)
    {
        <div style="margin: 10px 0;">
            <div>ক্রেতা:</div>
            <div>@Model.Customer.Name</div>
            @if (!string.IsNullOrWhiteSpace(Model.Customer.Address))
            {
                <div>@Model.Customer.Address</div>
            }
        </div>
    }

    <table style="width: 100%; margin: 10px 0; font-size: 12px;">
        <thead>
            <tr>
                <th class="center">#</th>
                <th>পণ্য</th>
                <th class="center">পরিমাণ</th>
                <th>মূল্য</th>
                <th>মোট</th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (var item in Model.Items)
            {
                count++;
                <tr class="item-row">
                    <td class="center">@count</td>
                    <td>@item.Name</td>
                    <td class="center">@item.Quantity</td>
                    <td>
                        <span>@Model.Currency @item.UnitPrice</span>
                        @if (!string.IsNullOrWhiteSpace(item.Unit))
                        {
                            <span>/@item.Unit</span>
                        }
                    </td>
                    <td>@item.Total</td>
                </tr>
            }
            @if (Model.AdjustmentAmount != 0)
            {
                <tr class="summary">
                    <td colspan="3"></td>
                    <td class="text">@Model.AdjustmentText</td>
                    <td>@Model.Currency @Model.AdjustmentAmount</td>
                </tr>
            }
            <tr class="summary">
                <td colspan="3"></td>
                <td class="text">মোট</td>
                <td>@Model.Currency @Model.Total</td>
            </tr>
            <tr class="summary">
                <td colspan="3"></td>
                <td class="text">পেমেন্ট</td>
                <td>(-) @Model.Currency @Model.PaymentAmount</td>
            </tr>
            <tr class="summary">
                <td colspan="3"></td>
                <td class="text">বাকি</td>
                <td>@Model.Currency @Model.AmountDue</td>
            </tr>
        </tbody>
    </table>

    @if (!string.IsNullOrWhiteSpace(Model.Note))
    {
        <div>@Model.Note</div>
    }
</div>