@model Module.Sales.Domain.InvoicePrintDto

<style>
    .pos-invoice-print-preview {
        font-size: 12px;
        padding: 15px;
        font-family: SolaimanLipi !important;
        width: 80mm;
    }
    .pos-invoice-print-preview .center {
        text-align: center;
    }
    .pos-invoice-print-preview thead th,
    .pos-invoice-print-preview .item-row td {
        border: 1px dashed;
        padding: 2px;
    }
    .pos-invoice-print-preview tr.summary {
        vertical-align: top;
    }
    .pos-invoice-print-preview tr.summary .pad-right {
        padding-top: 5px;
        padding-right: 40px;
    }
    .pos-invoice-print-preview thead tr th:last-child,
    .pos-invoice-print-preview tbody tr td:last-child,
    .pos-invoice-print-preview tr.summary td {
        padding-top: 5px;
        text-align: right;
    }
</style>

<div class="pos-invoice-print-preview">
    @if (Model.Organization != null)
    {
        <div style="text-align: center; margin-bottom: 10px;">
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Address))
            {
                <h2 style="margin-bottom: 5px">@Model.Organization.Name</h2>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Address))
            {
                <div>@Model.Organization.Address</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Mobile))
            {
                <div>@Model.Organization.Mobile</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Email))
            {
                <div>@Model.Organization.Email</div>
            }
        </div>
    }
    <h4><strong>চালান রসিদ</strong></h4>
    <div>
        <div>চালান নং: @Model.Number</div>
        <div style="margin-top: 3px; ">চালান তারিখ: @Model.IssueDate</div>
    </div>

    @if (Model.Customer != null)
    {
        <div style="margin: 10px 0;">
            <div>ক্রেতা:</div>
            <div>@Model.Customer.Name</div>
            @if (!string.IsNullOrWhiteSpace(Model.Customer.Address))
            {
                <div>@Model.Customer.Address</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Customer.Mobile))
            {
                <div>@Model.Customer.Mobile</div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Customer.Email))
            {
                <div>@Model.Customer.Email</div>
            }
        </div>
    }

    <table style="width: 100%; margin: 10px 0; font-size: 12px;">
        <thead>
            <tr>
                <th class="center">#</th>
                <th>পণ্য</th>
                <th class="center">পরিমাণ</th>
                <th>মূল্য</th>
                <th>মোট</th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (var item in Model.Items)
            {
                count++;
                <tr class="item-row">
                    <td class="center">@count</td>
                    <td>@item.Name</td>
                    <td class="center">@item.Quantity</td>
                    <td>
                        <span>@Model.Currency @item.UnitPrice</span>
                        @if (!string.IsNullOrWhiteSpace(item.Unit))
                        {
                            <span>/@item.Unit</span>
                        }
                    </td>
                    <td>@item.Total</td>
                </tr>
            }
            <tr>
                <td colspan="5" style="padding: 5px 0;"></td>
            </tr>
            @if (Model.AdjustmentAmount != 0)
            {
                <tr class="summary">
                    <td colspan="3"></td>
                    <td class="pad-right">@Model.AdjustmentText</td>
                    <td>@Model.Currency @Model.AdjustmentAmount</td>
                </tr>
            }
            <tr class="summary">
                <td colspan="3"></td>
                <td class="pad-right">মোট</td>
                <td>@Model.Currency @Model.Total</td>
            </tr>
            <tr class="summary">
                <td colspan="3"></td>
                <td class="pad-right">পেমেন্ট</td>
                <td>(-) @Model.Currency @Model.PaymentAmount</td>
            </tr>
            <tr class="summary">
                <td colspan="3"></td>
                <td class="pad-right">বাকি</td>
                <td>@Model.Currency @Model.AmountDue</td>
            </tr>
        </tbody>
    </table>

    @if (!string.IsNullOrWhiteSpace(Model.Note))
    {
        <div>@Model.Note</div>
    }
</div>